.vscode/
build/
dist/
onnx2tf.egg-info/
onnx2tf/debug/
onnx2tf/saved_model/
__pycache__/
test.py

saved_model/
node_modules/

package-lock.json

.act.secrets
.act.env

*.gif
*.sarif

*.txt
!requirements.txt

*.onnx
!make_test_op/ops/*.onnx

*.tflite

*.npy
!calibration_image_sample_data_20x128x128x3.npy

*.engine
*.profile

*:Zone.Identifier
